*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: black;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    position: sticky;
}
nav ul li{
    display: inline-block;
    margin: 20px;
}
nav ul li a{
    color: white;
    font-size:25px;
}
nav ul li a:hover{
    color: yellow;
    transition: .3s;
}
button{
    border: none;
    padding: 12px 30px;
    background-color: yellow;
    color: black;
    font-size: 15px;
}
button:hover{
    background-color: black;
    border:2px solid white;
    color: white;
}
.logo{
    color: white;
    font-size: 40px;
    letter-spacing: 5px;
}
span{
    color: yellow;
}
.main2{
    display: flex;
    margin-left: 20%;
}
.cont{
    color: white;
    margin-top: 20%;
} 
.cont p{
    font-size: 25px;
} 
.cont h1{
    font-size: 50px;
    color: yellow;
}  
.anim{
    margin-left: 20px;
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translatex(-100px);
        transition: 1s;
    }
}
.main3{
    display: flex;
    background-color: rgb(31, 29, 29);
    padding: 60px 0px;
}
.main3 img{
    border-radius: 50%;
    border: 5px solid white;
    margin-left: 15%;
    margin-top: 30px;
}
.cont1{
    margin-left:6%;
    margin-top: 20px;
   
}
.cont1 h4{
    font-size: 40px;
    font-weight: bold;
    color: white;
    word-spacing: 3px;
}
.para{
    font-size: 25px;
    font-weight: bold ;
    color: white;
    word-spacing:3px ;
}
.cont1 P{
    color: white;
    font-size: 18px;
}

.main13{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px 0px 0 0;
}
.yashu i{
    background-color: white;
    color: black;
    border-radius: 50%;
    padding: 10px;
    font-weight: bold;
    margin:5px;
    font-size: 20px;
}
.pichi{
    background-color: rgb(48, 46, 46);
    padding: 15px 0;

}
ul li{
    display: inline-block;
    padding: 0 15px;
    align-items: center;
    justify-content: center;

}
a{
    color: white;
    font-size: 20px;
}
.kirru ul li a:hover{
    color: yellow;
    transition: .3s;
}
.yashu i:hover{
    background-color: yellow;
}
.main13{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px 0px 0 0;
}
.yashu i{
    background-color: white;
    color: black;
    border-radius: 50%;
    padding: 10px;
    font-weight: bold;
    margin:5px;
    font-size: 20px;
}
.pichi{
    background-color: rgb(48, 46, 46);
    padding: 15px 0;

}
ul li{
    display: inline-block;
    padding: 0 15px;
    align-items: center;
    justify-content: center;

}
a{
    color: white;
    font-size: 20px;
}
.kirru ul li a:hover{
    color: yellow;
    transition: .3s;
}
.yashu i:hover{
    background-color: yellow;
}

